<!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">-->
<!--<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> css가 파일 안에 있으면 filename='/css/style.css -->

{% extends 'base.html' %} <!-- base.html을 상속받는다는 뜻 -->
{% block content %}

<div class="container my-3">
    <!-- 질문 내용 -->
    <h2 class="border-bottom py-2">{{ question.subject }}</h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text">
                {{ question.content }}
            </div>
             <div class="d-flex justify-content-end">
                <div class="badge bg-light text-dark p-2">
                    {{ question.create_date }}
                </div>
            </div>
        </div>
    </div>


    <!-- 답변 내용 -->
    <h5 class="border-bottom my-3 py-2">{{ question.answer_set|length }}개의 답변이 있습니다.</h5>
    {% for answer in question.answer_set %} <!--  for문 if문 같은 식들은 중괄호% 사이에 씀 -->
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text">
                {{ answer.content }}
            </div>
            <div class="d-flex justify-content-end">
                <div class="badge bg-light text-dark p-2">
                    {{ answer.create_date }}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <!-- 답변 등록 -->
    <form action="{{ url_for('answer.create', question_id= question.id)}}" method="post">
        <textarea class="form-control" name="content" id="content" rows="5"></textarea>
        <button type="submit" class="btn btn-light mt-3">답변등록</button>
    </form>
</div>

{% endblock %}