<!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"> base에 있어서 안 써도 됨-->
{% extends 'base.html' %} <!-- base.html을 상속받는다는 뜻 -->
{% block content %}
<div class="container my-3">
    <table class="table table-hover">
        <thead>
        <tr class="table-dark">
            <th scope="col">번호</th>
            <th scope="col">제목</th>
            <th scope="col">작성일시</th>
        </tr>
        </thead>
        <tbody> {% if question_list %} {% for question in question_list %}
        <tr>
            <td>{{ loop.index }}</td>
            <td><a href="{{ url_for('question.detail', question_id = question.id) }}">{{question.subject}}</a></td>
            <td>{{ question.create_date }}</td>
        </tr>
        {% endfor %} {% else %}
        <tr>
            <td colspan="3">질문이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}

<!-- 질문 목록 -->
<!-- {% if question_list %} -->
<!--    <ul> -->
<!--        {% for question in question_list %} -->
<!--       <li><a href="{{ url_for('question.detail', question_id = question.id) }}">{{question.subject}}</a></li> -->
<!--        {% endfor %} -->
<!--    </ul> -->
<!-- {% else %} -->
<!--    <p>질문이 없습니다.</p> -->
<!-- {% endif %} -->