{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h5 class = "my-3 border-bottom pb-2">질문 등록</h5>
    <form method = "post" class="my-3">
        {{ form.csrf_token }}
        <!--  오류표시 start-->
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field, errors in form.errors.items() %}
            <strong>{{ form[field].label }}</strong>
            <ul>
                {% for error in errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
        {% endif %}
        <!--  오류표시 end-->


        <div class="mb-3">
            <label for="subject">제목</label>
            <input type="text" name="subject" id="subject" class="form-control" value="{{ form.subject.data or '' }}">

        </div>
        <div class="mb-3">
            <label for="subject">내용</label>
            <textarea name="content" id="content" rows= "5" class="form-control">{{ form.content.data or '' }}</textarea>

        </div>
<!--        {{ form.subject.label }}-->
<!--        {{ form.subject(class="form-control") }}-->

<!--        {{ form.content.label }}-->
<!--        {{ form.content(class="form-control") }}-->
        <button type="submit" class="btn btn =primary">저장하기</button>
    </form>
</div>
{% endblock %}